<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="化妆品类目ConnectionString" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString2" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString3" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString4" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString5" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString6" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString7" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString8" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString9" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString10" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString11" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="化妆品类目ConnectionString12" connectionString="Data Source=localhost;Initial Catalog=化妆品类目;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
